title, h1, p {
  color: #541b3d;
  text-align: center;
}
body{	
	margin: 2%;
	background-color: #ebe4d2;
    font-family: verdana;
}

#image{
    line-height:650px;
	width: 100%;
    height: 669px;
	border:5px solid #541b3d;
	margin:0 auto;
    background-color: pink;
    background-image: url('');
    color: #541b3d;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 200%;
    text-shadow: 2px 2px 10px #db7093;
}
.preview{
	width:10%;
	margin-left:17%;
    border: 5px solid #541b3d;
    opacity: .60;
}
.preview:focus{
	opacity:1;
}
img{
		width:100%;
}
